.wrapper.h7 {
  font-size: 20px;
  text-align: left;
  margin-left: 450px;
}
.wrapper.h3 {
  width: 300px;
  margin-left: 500px;
}

s.form-group {
  margin-left: 20px;
  text-align: center;
}

.label {
  width: 100px;
  text-align: left;
}

.input {
  margin-left: 20px;
  text-align: left;
}

.btn1 {
  width: 100px;
  margin-top: 20px;
}

.btn2 {
  width: 100px;
  margin-top: 20px;
}
